h1 {
    color: orangered;
}
h2 {
    color: rgb(211, 123, 15);
    margin-bottom: 2px;
}
p {
    font-style: unset;
    margin-top: 2px;
}
body {
    background-color: rgba(192, 190, 190, 0.466);
    margin: 30px;
}
h3 {
    color: green;
}
h4 {
    color: green;
}
ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 80px;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}
ol {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 14px;
}